<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Django tutorial</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>

    <h1> This is Index Page</h1>

    <a href="contact">
      Contact
    </a>

    ||

    <a href="about">
      About
    </a>
    
    <table class="container">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Can vote</th>
      </tr>

      {% for i in peoples %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>
          {% if i.age >= 18 %}
          👍
          {% else %}
          👎
          {% endif %}
        </td>
      </tr>

      {% endfor %}

    </table> 
    

    {% if "Cucumber" in vegetables %}
        yes Available
    {% else %}
        Not Available
    {%endif%}
    


    <script>
      console.log("Hey Django")
    </script>
    

  </body>
</html>